@import "../../style/vars";

.Main {
  padding: 45px 5px 0;
  z-index: 5;

  @media screen and (min-width: 768px) {
    padding: 45px auto auto;
  }
}

.Bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  @include transition;

  @media screen and (min-width: 776px) {
    flex-direction: row;
    @include transition;
  }
}
