$default-font: "Arial";

$primary: #1c1e21;

$black: #000;
$greenyellow: #42B72A;
$white: #fff;
$darkRed: #B21212;
$lightRed: #FF0000;
$yellow: #FFFC19;
$lightGrey1: #F5F6F7;
$lightGrey: #dfe0e4;
$grey: #D3D6DB;
$darkGrey: #616770;
$lightBlue: #4267B2;
$darkBlue: #29487d;
$turquoise: #1967F6;
$lightCyan: #EDF2FA;
$cyan: #9cb4d8;

@mixin transition {
  transition: all .3s ease;
}
