@import "../../../style/vars";

.Block {
  background-color: $white;
  border: 1px solid rgba($black, .25);
  border-radius: 2px;
}

.Info {
  display: flex;
  flex-direction: column;
  border-top: none;
  margin-bottom: 15px;
}

.InfoTop {
  position: relative;
  min-height: 315px;
}

.Cover {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba($black, 0) 71%, rgba($black, .53));
  }

  & img {
    height: 315px;
  }
}

.InfoDesc {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.InfoCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 20px;
  width: 170px;
  height: 170px;
  background-color: $white;
  border: 2px solid rgba($black, .5);
  border-radius: 50%;
}

.Desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 80%;
  padding: 0 30px 0 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  color: $white;
}

.DescFullName {
  font-size: 2.4rem;
}

.DescStatus {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  text-align: right;
  transition: all .3s ease;

  &Width {
    width: 100%;
    top: 5px;
    transition: all .3s ease;
  }
}

.DescStatusEdit {
  display: block;
  position: absolute;
  background: url("../../../images/edit.svg") center center no-repeat;
  right: -35px;
  top: 0;
  width: 40px;
  height: 25px;
  transition: all .3s ease;
}

.StatusEditField {
  width: 100%;
  text-align: right;
  border: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  color: $white;
  padding-right: 5px;
  background-color: transparent;
  transition: all .3s ease;

  &:focus, &:active {
    outline: none;
    border-right: 3px solid $white;
  }
}

.InfoBottom {
  min-height: 45px;
  background-color: $white;
}
