@import "./style/base";

.headerBackground {
  height: 45px;
  padding: 0 30px;
  background-color: $lightBlue;
  border-bottom: 1px solid $darkBlue;
  //position: fixed;
  //width: 100%;
  z-index: 99;
}
