.container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  //padding-left: 10px;
  //padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.headerBackground {
  background-color: #4267B2;
  border-bottom: 1px solid #29487d;
}
